<div class="repository" *ngIf="data | async as repository">

  <div class="repository__card">
    <div class="repository__radio-group">
      @for (
      radioButton of radioButtonArray;
      track radioButton;
      let id = $index
      ) {
      <input type="radio" class="radio-group__btn-check" autocomplete="off" [checked]="radioButton === defaultCheck"
        [value]="radioButton" name="btnRadio" id="btnradio{{id}}" (change)="showInfoFor(radioButton)" />
      <label class="radio-group__btn" for="btnradio{{id}}">{{
        radioButton
        }}</label>
      }
    </div>
  </div>

  <div class="repository__card">
    <app-author-content
    *ngIf="isAuthorCard"
    [author]="repository.owner"></app-author-content>
    <app-repo-content
    *ngIf="!isAuthorCard"
    [repository]="repository"
    ></app-repo-content>
  </div>

 <div class="repository__card repository__info-card_markdown-card"
 [innerHTML]="parseMdText(repository.readme_content)"></div>
</div>
