.card {
  font-family: "Roboto-Regular";
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  grid-template-columns: 30% 1fr 20% 10%;
  grid-row-gap: 0.5rem;
  align-items: center;
  padding: 0.75rem;
  height: 80px;
  &__section {
    display: flex;
    justify-content: flex-start;
    padding: 0 0.5rem;
    overflow: hidden;
    &_meta-section {
      display: grid;
      grid-template-columns: repeat(3);
    }
  }
  &__info {
    overflow: hidden;
  }
  &__label {
    font-size: 1rem;
    color: #737373;
  }
  &__avatar {
    border: 2px solid #ffffff;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }
  &__author {
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &__title {
    font-size: 1.25rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__creation-date,
  &__stars,
  &__forks,
  &__languages {
    display: flex;
    align-items: center;
  }

  &__creation-date::before {
    content: "";
    background-image: url("assets/images/calendar (1).png");
    background-size: 1rem;
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
  }
  &__stars::before {
    content: "";
    background-image: url("assets/images/star.png");
    background-size: 1rem;
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
  }
  &__forks::before {
    content: "";
    background-image: url("assets/images/git.png");
    background-size: 1rem;
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
  }
  &__languages::before {
    content: "";
    background-image: url("assets/images/coding.png");
    background-size: 1rem;
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 630px) {
  .card {
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    height: 160px;
    border: 1px solid #b0b0b0;
  }
}
