.searching {
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 1.5rem;
    margin: 2rem 0;
    align-self: flex-start;
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
  }
  &__result {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__card {
    cursor: pointer;
  }
  &__loader {
    align-self: center;
  }
  &__emptу {
    align-self: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.emptу {
  &__description {
    margin-top: 1.25rem;
  }
}

.form-full-width {
  width: 30rem;
}
.mdc-text-field__input {
  font-size: 1rem !important;
}

.form__field:not(:last-child) {
  margin-right: 2rem;
}


@media screen and (max-width: 630px) {
  .form__field:not(:last-child){
    margin-right: 0;
}
}
