.mdc-button  {
  background: #f2f2f2 !important;
  width: 15rem;
  letter-spacing: -.03em;
  cursor: pointer;
  border: 0 transparent;
  font-size: 1rem !important;
  border-radius: 100rem;
  padding: 0.8125rem 1rem;
  line-height: 1;
}

.mdc-button::after {
  content: '';
  background-image: url('assets/images/right-arrow.png');
  background-size: 1rem;
  height: 1rem;
  width: 1rem;
 margin-left: 1rem;
}
