.author {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &__item {
    font-size: 1.5rem;
    &_avatar {
      width: 5rem;
      border-radius: 100%;
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 1rem;
  }
}
